.first{
    font-family: Arial;
    font-size: 20px;
    text-decoration: underline;
}

div{
    // mdn border => border-style
    border: 1px dotted red;
    // dotted => point => .
    // dash => trait => -
    padding: 20px 0;
}

li:last-child{
    padding-left: 0;
}

// maintenant que l'on a compris le fonctionne 
// du précompilateur sass 
// introduire des mots clé 
// qui sont absents de css 
// n'existe pas dans css 
// 06-variable.scss