// le concept n'existe pas en css 

// créer une variable en sass 
$color: yellow;
$largeur: 200px;
$marge-interne: 20px 0;
$bordure: 1px solid green;
$bordure-special: 2px solid $color;
// pas de problème pour stocker plusieurs valeur

// utiliser la variable dans des règles sass
p{
    color: $color;
    width: $largeur;
    margin: $marge-interne;
    border: $bordure ;
}
h1{
    border: 1px dotted $color;
    height: $largeur;
    border: $bordure-special;
}

li{
    width: $largeur / 4; 
    // vous pouvez effectuer des calculs 
    height: ($largeur + 10) * 2;
}


// cas pratique créer le fichier 07-exo.scss 

/*
créer dans de fichier trois variables 
police Arial
taille-police 15 %
couleur rouge 

réaliser les 3 règles css suivantes (en utilisant les variables)

tous les p doivent avoir la police Arial et la taille de police de 30%

tous les h1 doivent être de couleur rouge et de taille de police 7.5%

tous les li doivent être de couleur rouge / taille 15% et police Arial

*/
