// vous pouvez créer des variables qui vont stocker
// une ou plusieurs valeurs 

// vous pouvez aussi créer des variables 
// qui vont stocker des sélecteurs

$color: blue ;
$titre: ".introduction p" ; // vous devez le mettre en double quote 
// liste de valeurs
$data: red blue yellow green pink;

p {
    color : $color;
}

#{ $titre }{
    color : $color;
}

// #{ $nom_variable }

h1{
   color: nth($data , 1);
   border: 1px solid nth($data , 3);
   //font-size: $data ;
}

// responsive design 
// max l'écran va avoir une largeur de 320px 

$smartphone-portrait: "screen and (max-width:321px)" ;
// écran => largeur mini 320px et max 480px 

$smartphone-paysage: "screen and (min-width:320px) and (max-width:480px)" ;
// 480px => 768px
$tablette-portrait : "screen and (min-width:480px) and (max-width:768px) " ;

@media #{ $smartphone-portrait } {
    h1{
        color: red;
    }
}

@media #{ $smartphone-paysage }{
    p{
        font-size : 30px;
    }
}

@media #{ $tablette-portrait }{
    li{
        font-size: 30px;
    }
}


@media #{ $smartphone-portrait } {
    p{
        color: red;
    }
}

// rdv 13h32 pour la suite de sass !!

// hello hello
// des questions sur ce que l'on va ce matin ??? 

// cas pratique créer le fichier 09-exo.scss
/*
créer une variable ecran-ordinateur => stocker médiaquery screen and taille ecran minimum 960px
créer une variable ecran-tablette-paysage => stocker médiaquery screen and taille ecran minimum 768px et max 960px
créer une variable ecran-tablette-portrait => stocker médiaquery screen and taille ecran minimum 480px et max 768px

créer 4 variables de couleur en utilisant une palette de couleur fourni par le site 
rose-clair
rose
bleu
bleu-fonce 
sites qui donnent des palettes de couleur
https://colorhunt.co/ => site qui vous donne des palettes de couleurs 
comme les librarie adobe : https://color.adobe.com/fr/create
flat color ui : https://flatuicolors.com/ #C0CA33

utiliser ces variables 

si l'écran est ordinateur => h1 taille de 22px et les p taille de 14px et couleur blue foncé
si l'écran est tablette-paysage => h1 taille de 20px et rose-clair et les p taille de 12px couleur bleu clair
si l'écran est tablette-portrait => h1 taille de 18px et rose et les p taille de 12px
https://github.com/webdevproformation/sass-oct2020
*/
