// cas => pouvez vous importer le fichier _palette
// changer la couleur du h2 dans la balise header  => couleur que vous voulez !

@import "_palette.scss";

header h2{
    color : $turquoise;
}

header li{
    color : $emerald;
}
/* syntaxe classique lorsque l'on écrit en css */
/* vous avez l'équivalent avec sass nesting = imbrication */
/* je mets une règle dans une autre => nesting */

header {
    h2{
        color : $turquoise;
    }
    li{
        color : $emerald;
    }
}
// header{ h1{} }


.main {
    h2{
        color : $amethyst;
        font-size : 30px;
    }
    p{
        font-size: 20px;
        color : $peter-river;
    }
}

// créer le fichier 13-exo.html
/*
dans ce fichier vous allez avoir le html suivant 
appeler le fichier 13-exo.css
div class container
    section class diaporama
        h2  contient le texte diaporama
        4 images 
    section class= presentation
        h2  Présentation
        3 paragraphes avec 30 mots factices chacuns

créer le fichier 13-exo.scss
    styliser  le h2 dans le diaporama
        centrer dans la page
    styliser la balise qui a la class diaporama => largeur de 300px // tout ce qui déborde est masqué
    
    styliser les images dans la balise qui a la class diaporama
        faire en forme quelles aient la largeur de 300px

    styliser le h2 dans la balise ayant la class presentation
        en rouge et souligné
        

*/
