$color : #e74c3c;
$color-hover : #34495e ;
$autre-color : #f1c40f;

.first {
    li{
        color:$color;
        &:hover{
            color :  $autre-color ;
        }
        &:first-child{
            color : #2980b9;
        }
    }
}
.last{
    li{
        &::after{
            content: " - ";
        }
    }
}


// ça va ??
// si vous avez des pseudo sélecteur :hover :focus :last-child  :nth-child() ::after ::before

// ET que vous voulez utiliser l'imbrication 
// utiliser le symbole &:pseudo-selecteur

li:hover{
    color:$color-hover;
}

// vous pouvez utiliser les imbrications lorsque vous faites du responsive design 

@import "_responsive";
// importer les variables => reponsive design 

.last{
    li{
        color : #8e44ad;
        // possibilité d'imbriquer les règles responsive design directement
        // dans l'imbrication
        @media #{ $ecran-tablette-paysage } {
            color : #1abc9c;
        }
    }
}

/*
Créer une page html 15-exo.html 

Dans cette page = 
div class container 
    section class intro
        h2 contenent 5 mots factices
        5 p contenant 10 mots factices
    section class conclusion
        h2 contenant le mot conclusion
        2 paragraphes avec 5 mots factices
ce fichier est associé au fichier 15-exo.css qui est généré via le fichier 
15-exo.scss

sélectinner le 3eme p qui est dans la section intro et lui donner une couleur verte
(emerald)
pour tous les autres p de cette section mettre la couleur rouge aliarin 

selectionner le dernier p dans la section conclusion et lorsque vous passer la souris dessus, changer sa couleur en blue peter river 

enfin si lécran est compris en tre 400px et 700px => 
tous les p de la page auront la couleur sun flower 

*/
