// quelquesoit le projet que l'on va réaliser 
// ces 3 variables qui contiennent des largeurs => toujours vrai 

$ecran-ordinateur : "screen and (min-width:960px)";
$ecran-tablette-paysage : "screen and (min-width:768px) and (max-width:960px)";
$ecran-tablette-portrait : "screen and (min-width:480px) and (max-width:768px)";