// aside 

aside{
    .widget{
        margin-bottom: $m ;
    }
    h3{
        margin-bottom: $m;
    }
    p{
        text-align: justify;
        font-size: 0.8em;
    }
    li{
        font-size: 0.8em;
    }
}