// les couleurs 
$mauve : #543385;
$bleu-clair : #f5f5f5;
$azur : #007d91;
$m : 20px;

@import "_05_init";
@import "_05_menu_top";


.bottom{
    background: $bleu-clair;
    padding: $m / 2 ;
    ul{
        display: flex;
        li{
            margin-right: $m ;
        }
    }
}

.presentation{
    text-align: center;
    padding: $m * 1.5;
    h2{
        font-size: 1.6em;
    }
    .liste{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:70%;
        @media screen  and (max-width:1200px){
            width:90%;
        }
        margin: 0 auto;
        grid-gap: $m * 1.5;
        article{
            margin-top: $m * 2;
            border:2px solid $bleu-clair;
            padding : $m;
            border-radius: 5px;
            box-shadow: 3px 3px 3px $bleu-clair;
            i{
                font-size: 2.3em;
            }
            h3{
                color: $azur;
            }
            p{
                margin-bottom: $m;
            }
            a{
                padding:$m / 2 $m; 
                color:white;
                border-radius: 50px;
                background: lighten($azur , 10%);
            }
        }
    }
}

.details{
    background: $mauve;
    color:white;
    padding: $m * 2 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $m *3;
    align-items: center;
    img{
        max-width:100%
    }

    figure{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $m/2;
    }
    div>*{
        margin-bottom: $m; 
    }
}

.partenaires{
    text-align: center;
    padding: $m * 2;
    h2{
        margin-bottom: $m ;
    }
}


.presentation{
    article{
        animation: apparition 3s;
    }
}

@keyframes apparition{
    from{
        transform: translateY(60px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

// créer la page 06-exo.html // 06-exo.scss

// page html =>

/*
// header > image 200x100

grille de deux colonnes => deux colonnes font la même largeur 
    première colonne => h1 et p avec 30 mots

    deuxième colonne > image  200x100

en scss 
    au chargement de la page => 
    image dans le head va apparaitre en glissant vers le bas + effet opacité

    le h1 et le p apparaitre effet de glisser + effet opacité depuis la gauche

    image dans la deuxième colonne apparaitre effet de glisser + effet opacité depuis la droite
*/

