// des fonctions de couleurs :

/*
    lighten($color,$percent) : éclaircir une couleur
    darken($color,$percent) : assombrir une couleur
    rgba($color,$nb) : ajouter / enlever de l'alpha sur une $color | $nb entre 0 et 1
    // ajouter enlever de l'opacité à une couleur
    grayscale($color) : arrondit à l'entier supérieur => nuance de gris 

    09-couleurs.html
*/

.p1{
    color : yellowgreen;
    &:hover{
        // assombrir de 20%
        color : darken( yellowgreen , 20% );
    }
}

.p2{
    color : blueviolet;
    transition: color 2s;
    &:hover{
        color : lighten( blueviolet, 20% );
    }
}

// changer l'opacité d'une couleur !
.p3{
    color: cornflowerblue;
    background: cornsilk;
    transition: color 3s , background 3s;
    &:hover{
        color : rgba( cornflowerblue , 0.2 );
        background:darken( cornsilk , 40%);
    }
}
// grayscale => donner une nuance de gris la plus proche de la couleur sélectionnée
.p4{
    color : pink;
    transition: color 4s ;
    &:hover{
        color : grayscale(pink);
    }
}

// maintenant que l'on connait les boucles 

$paragraphes : (
    5  : blue,
    6 : coral
);

@each $index , $couleur in $paragraphes{
    .p#{ $index }{
        color : $couleur ;
        transition: color 3s ;
        &:hover{
            color : lighten($couleur , 50%);
        }
    }
}

// notre mini bootstrap 


// créer les fichiers 10-exo.html et 10-exo.scss

/*
    dans le fichier 10-exo.html 

    button => créer 4 => class 
    btn-primary 
    btn-secondary
    btn-success
    btn-alert

    dans le fichier 10-exo.scss

    pour les boutons qui auront la class qui fini par primary 
        fond bleu / text blanc 
    secondary
        fond gris / text blanc 
    success 
        fond vert / text noir
    alert
        fond vert / text blanc

    au passer de tous ces boutons
        eclaircir de 30 % leur couleur de fond en 2 secondes
        + tous ces boutons auront un border radius de 5px
*/