/*
pour la balise class container => centrer dans la page // 960px 
        si la taille de l'écran atteint 960px => cette balise à une largeur de 100% de la taille de l'écran - une marge de 10px à gauche et à droite

créer (en utilisant des boucles) => le système de grille décrit ci dessus 
    => flex box // display grid 
*/

$largeur-design : 960px;
$m : 10px ;
$col-max : 12 ;

.container{
    width: $largeur-design;
    margin:0 auto;
    @media screen and (max-width: #{$largeur-design} ){
        width: calc( 100% - 20px );
        margin:0 $m;
    }
}

div{
    border:1px solid black;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

// display grid => 1ère solution possible
//.ligne{ // balise parent des cellules 
//    display: grid; 
//    // les enfants direct de cette balise vont avoir une comportement de grille
//    grid-template-columns: repeat($col-max , 1fr);
 //   // la grille va avoir 12 colonnes 
//    grid-gap: $m ;
//    // entre chaque cellule de la grille mettre une marge de 10px 
 //   margin-bottom: $m;
    // en dessous de la grille tu me mets
//}

//@for $i from 1 through 12{
 //   .col-#{ $i }{
//        grid-column: span $i; // grâce à display grid => pas besoin de s'embêter avec % 
//    }
//}

// display flex => 2ème solution possible

.ligne{
    display: flex;
    margin-bottom: $m;
}

@for $i from 1 through 12{
    .col-#{ $i }{
        flex-basis: ($i / 12 * 100)+%; 
        // à la place d'utiliser width => flex-basis 
    }
}

// créer le fichier 12-exo.html et le fichier 12-exo.scss 

// menu imbriqué ??
// dans le fichier 12-exo.html

/*
// div container qui contient l'intégralité du design 
        .ligne
            div class col-2
                image 70x70
            div class col-10
                <ul>
                    <li> Accueil</li>
                    <li>Présentation</li>
                    <li>Blog  
                        <ul class="sous-menu">
                            <li>catégorie 1</li>
                            <li>catégorie 2</li>
                            <li>catégorie 3</li>
                            <li>catégorie 3</li>
                        </ul>
                    </li>
                </ul>
    dans le fichier scss 
       1 créer le système de grille 
       2 par défaut le sous menu est masqué // si je passe la souris sur son élément parent
       le sous menu apparait 
       display= block // none
       3 les éléments du menu <li> remplissent de manière régulière la balise parent <ul> 

       => rdv 15h45 // excellent café !! @ toute suite !!
       => corrigé 15h50 !!
*/

