// sur firefox => outil 
// pipette 
// variable.scss

//DRY : Don't Repeat Yourself
// découpe mon css en sous partie => module 
// => pas des fichiers trop long 
$noir : #343a40;
$vert : #28a745 ;
$gris : #869c88;
$blue-clair : #f8f9fa;
$violet : #6f42c1 ;
$m : 20px ;
$width-container : 960px ;

%ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

%input{
    padding: $m / 2 ;
    border-radius: $m / 4;
    border:none;
}

@import "_13_init" ;
@import "_13_header";
@import "_13_main" ;

// pouvez vous créer un nouveau fichier 01-exo.html dans le dossier jour4
// + créer le fichier 01-exo.scss 
// intégrer la maquette suivante : en utilisant le maximum de concepts de sass 

// dans le menu 10 cas pratique > section 3 Cas n°3 > (page de contact dans un site)





